{{#each places as |p|}}
<div {{action "showPlace" p }} class="place">
  <h3 id="{{uid p.name}}">{{p.name}}</h3>
  <i><a href="{{ios-maps-url p}}" {{action "followHref" (ios-maps-url p) bubbles=false}}>{{p.location}}</a></i>
  {{#if p.web}}
    <a href="{{p.web}}" {{action "followHref" p.web bubbles=false}}>website</a>
  {{/if}}
  <p>{{p.reason}}</p>
</div>
{{/each}}
