html, body {
  padding: 0 0.5em;
}

body {
  background: #F2E205;
  font-family: 'PT Mono', monospace;
}

[data-ember-action] {
  cursor: pointer;
}

footer {
  font-size: 0.75em;
  line-height: 2.5em;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  max-width: 300px;
}

.site-title {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5em;
  line-height: 0.75em;
  width: 100%;
  letter-spacing: 0.5em;
  color: #D91448;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 30px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 375px) {
  .site-title {
    font-size: 4.5em;
    width: 95%;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .site-title {
    font-size: 5.5em;
    line-height: 0.80em;
    width: 65%;
  }
}

.site-title::before {
  z-index: -1;
  opacity: 0.25;
  content: 'your guide to the lou';
  text-transform: uppercase;
  position: absolute;
  color: #D9115A;
  top: 12px;
  left: 3px;
  width: 100%;
  height: 7em;
}
.site-title::after {
  z-index: -1;
  opacity: 0.15;
  content: 'your guide to the lou';
  color: #023059;
  text-transform: uppercase;
  position: absolute;
  top: 8px;
  left: -3px;
  width: 100%;
  height: 5em;
}

.site-title a {
  color: #D91448;
  text-decoration: none;
  cursor: help;
}

.site-description,
.site-description--alt {
  color: #010E19;
  line-height: 2.5em;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  max-width: 300px;
}

.site-description--alt {
  max-width: 100%;
}

@media screen and (min-width: 375px) {
  .site-description--alt {
    width: 85%;
  }
}

@media screen and (min-width: 1440px) {
  .site-description--alt {
    max-width: 55%;
  }
}

.site-description a,
.site-description--alt a {
  text-align: left;
  color: #010E19;
  text-decoration: none;
}

.site-description--alt a {
  display: block;
}

.site-description a:hover {
  text-decoration: underline;
}

.place {
  font-size: 1em;
  border: 2px solid #023059;
  padding: 15px 20px 35px;
  margin: 20px auto;
  color: #010E19;
  max-width: 500px;
}

.place:hover {
  background: #023059;
  color: #f7f7f7;
}

.place:hover h3 {
  color: #D9115A;
}

.place h3 {
  font-size: 2em;
  color: #023059;
}

.place a {
  color: #D9115A;
  text-decoration: underline;
  font-style: italic;
}

.place:hover i {
  color: #F2CB05;
}
.place i {
  color: #D91448;
}

.place i a {
  color: inherit;
  text-decoration: none;
}
