<p class="site-description">
  Here's my pocket guide for my trip to St. Louis for Strange Loop 2017.
  It's my first time in The Lou so I want to both take in as much as I
  can and relax as much as I can. And sometimes that means unwinding on
  the dance floor.
  <a href="https://gitlab.com/rogeruiz/thelou" target="_blank">
    File a PR if you feel like anything is missing.
  </a>
</p>

{{places-list places=model.places}}

{{outlet}}
